<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>Selamat Hari Raya 2021 - Workforce ITADO</title>

	<script type="text/javascript">
		message = " Selamat Hari Raya 2021 >> Maaf Zahir & Batin >> Workforce ITADO >> ";
		function titlemarquee() {
			message = message.substr(1) + message.substr(0, 1);
			document.title = message.substr(0, 30);
		}
	</script>
	<style>
		body {
			background-image: url(raya2021_asset/images/raya2021-bg-witado.png);
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</head>

<body onload="setInterval(titlemarquee,100)">
	<div class="container mt-3">
		<!-- Content here -->
		<div class="row">
			<div class="col-md-4">
				<div class="media border p-2 bg-light">
					<img src="raya2021_asset/images/lee.png" alt="John Doe" class="mr-2 mt-2 rounded-circle"
						style="width:60px;">
					<div class="media-body">
						<h5>Lee Kwong Hong</h5>
						<p>Jarang berhubung tiadalah lupa, Tidak pudar walau sesaat, Salam dihulur di alam maya,
							Walaupun jauh tetaplah dekat.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="media border p-2 bg-light">
					<img src="raya2021_asset/images/kahar.png" alt="John Doe" class="mr-2 mt-2 rounded-circle"
						style="width:60px;">
					<div class="media-body">
						<h5>Mohamad Kahar Bin Muhamad Ihsan</h5>
						<p>Lambaian Syawal Kian Dinanti, Luhur Hati Ikhlas Kemaafan, Semoga Kesalahan Dimaafi, Selamat
							Hari Raya, Maaf Zahir Batin</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="media border p-2 bg-light">
					<img src="raya2021_asset/images/afdzal.png" alt="John Doe" class="mr-2 mt-2 rounded-circle"
						style="width:60px;">
					<div class="media-body">
						<h5>Mohd Afdzal Bin Kamal</h5>
						<p>Buat meriam pasang pelita, Asap keluar bunyi tak de, Ucapan raya maaf dipinta, Harap tak de
							yang mengguris jiwe.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-6">
				<img src="raya2021_asset/raya-workforce-itado-2021.gif" style="width:100%" class="img-fluid rounded" />
			</div>
			<div class="col-md-6">
				<iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX1kqLSAZSw7o" width="506" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
				
				<!-- 				
				<iframe class="img-fluid"
					src='https://www.4shared.com/web/embed/audio/playlist/bMc5PwQ_ea?type=MINI&widgetWidth=500&widgetHeight=300&showArtwork=true&autoplay=1&lightTheme=true&showPlaylist=true&playlistHeight=340&widgetRid=645731387649'
					style='overflow:hidden;height:300px;width:500px;border: 0;margin:0;'></iframe>-->
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-4">
				<div class="media border p-2 bg-light">
					<img src="raya2021_asset/images/burhan.png" alt="John Doe" class="mr-2 mt-2 rounded-circle"
						style="width:60px;">
					<div class="media-body">
						<h5>Burhanuddin Bin Ahmad Gani</h5>
						<p>Kian Berlabuh Tirai Ramadhan, Lambaian Syawal Kian Dinanti, Luhur Hati Ikhlas Kemaafan,
							Semoga Kesalahan Dimaafi, Selamat Hari Raya, Maaf Zahir Batin</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="media border p-2 bg-light">
					<img src="raya2021_asset/images/wani.png" alt="John Doe" class="mr-2 mt-2 rounded-circle"
						style="width:60px;">
					<div class="media-body">
						<h5>Nur Syazwani Binti Jusoh</h5>
						<p>Sungai disusur sehari-hari, Dalam gelap menangkap ikan, Kami menyusun sepuluh jari, Salah dan
							silap harap maafkan.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="media border p-2 bg-light">
					<img src="raya2021_asset/images/hizam.png" alt="John Doe" class="mr-2 mt-2 rounded-circle"
						style="width:60px;">
					<div class="media-body">
						<h5>Mohamad Hizamuddin Bin Jamaluddin</h5>
						<p>Ada mata pandanglah keindahan, Ada mulut berbudilah pertuturan, Ada hati berilah kesayangan,
							Ada salah silap silalah maafkan.</p>
					</div>
				</div>
			</div>
	

	
		</div>



<input type="hidden" id="text" value="Assalamuaalay,komm! Selamat Hari Raya, Aidil fit 3. Maaf Zahir dan, Batin. ikh las dari, Workforce. IT, A.D.O." />
<input type="hidden" id="rate" value="0.7" />
<input type="hidden" id="pitch" value="1" />
<div class="float-right">
<iframe src="/pageCounter/itado-raya2021"   width="150em" height="100" frameborder="0" allowtransparency="true" ></iframe>
</div>
<script type="text/javascript">
    setTimeout(greetUser, 1000);
    
    function greetUser() {
    
    var message = new SpeechSynthesisUtterance($("#text").val());
    var voices = speechSynthesis.getVoices();
    
    speechSynthesis.speak(message);    
    
    // Hack around voices bug
    var interval = setInterval(function () {
        voices = speechSynthesis.getVoices();
        if (voices.length) clearInterval(interval); else return;
    
        for (var i = 0; i < voices.length; i++) {
            $("select").append("<option value=\"" + i + "\">" + voices[i].name + "</option>");
        }
    }, 10);
    
    }

    </script>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
</body>

</html>